div{
height: 500px;
width: 500px;
background-color: rgb(35, 125, 185);
margin: 30px;
margin-left: 250px;
padding-left:50px ;

}
input{
    height: 50px;

margin: 18px;
padding-top: 3px;
padding-right: 150px;
padding-left: 150px;
padding-bottom: 12px;

border-radius: 12px;
}
.logo{
    height: 200px;
    width: 200px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 4px;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    background-color: #fff
}



